<app-notification></app-notification>
<div class="panel panel-default" id="entity-management">
  <div class="panel-heading">
    <h2>Finished Destinations</h2>
  </div>

  <div class="panel-body" *ngFor="let destination of destinations">

    <div class="container-fluid destination-projected">
      <h3>Destination Result</h3>

      <br>

      <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Vehicle</th>
                <th>Drivers</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ destination.startDate | date:'short' }}</td>
                <td>{{ destination.endDate | date:'short' }}</td>
                <td>{{ destination.vehicleInfo }}</td>
                <td>{{ destination.driversInfo }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      <agm-map *ngIf="destination.visible" #agmMap id="agmMap" class="destination-map" [zoom]="6" [latitude]="(destination.startLocation.lat + destination.endLocation.lat) / 2"
        [longitude]="(destination.startLocation.lng + destination.endLocation.lng) / 2">
        <direction #directionDirective [origin]="destination.startLocation" [destination]="destination.endLocation" [waypoints]="waypoints"
          (calculate)="calculateDistancesAndTimes($event)"></direction>
      </agm-map>

      <br>

      <div class="row">

        <div class="col-lg-4">
          <p>Number of Km's:
            <span class="red-text">{{ destination.numberOfKms | number : '1.2-2' }}</span>
          </p>
        </div>

        <div class="col-lg-4">
          <p>Fuel Expenses (per 100km):
            <span class="red-text">{{ destination.fuelExpenses | number : '1.2-2' }}</span>
          </p>
        </div>

        <div class="col-lg-4">
          <p>Drivers Pay (each per 100km):
            <span class="red-text">{{ destination.driversPay | number : '1.2-2' }}</span>
          </p>
        </div>

        <div class="col-lg-4">
          <p>Tickets income:
            <span class="red-text">{{ ticketsIncome | number : '1.2-2' }}</span>
          </p>
        </div>

        <div class="col-lg-4">
          <p>Total Cost:
            <span class="red-text">{{ destination.totalCost | number : '1.2-2' }}</span>
          </p>
        </div>

        <div class="col-lg-4">
          <p>Total:
            <span class="red-text">{{ total | number : '1.2-2' }}</span>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
