<div class="container">
  <!-- The Modal -->
  <div class="modal fade defaultModal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{ action }} Destination</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="cancel(f)">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form #f="ngForm" name="form">

            <div class="form-group">
              <label for="startDate">
                <span class="red-text">*</span>Start Date</label>
              <input type="date" class="form-control" [(ngModel)]="destination.startDate" useValueAsDate name="startDate" required>
            </div>

            <div class="form-group">
              <label for="startTime">
                <span class="red-text">*</span>Start Time</label>
              <input type="time" #startTime class="form-control" [(ngModel)]="time" name="startTime" required>
            </div>

            <div class="form-group">
              <label for="fuelExpenses">Fuel Expenses (per 100km)</label>
              <input type="number" class="form-control" [(ngModel)]="destination.fuelExpenses" name="fuelExpenses" min="0">
            </div>

            <div class="form-group">
              <label for="driversPay">Driver's Pay (each per 100km)</label>
              <input type="number" class="form-control" [(ngModel)]="destination.driversPay" name="driversPay" min="0">
            </div>

            <div class="form-group">
              <label for="driversPay">Request price (per km)</label>
              <input type="number" class="form-control" [(ngModel)]="destination.requestPerKmPrice" name="requestPerKmPrice" min="0">
            </div>

            <div [hidden]="!showMap" class="form-group">
              <agm-map id="agmMap" class="destinations-map" [latitude]="45.30" [longitude]="45.30" (mapClick)="mapClicked($event)" [zoom]="zoom">
                <agm-direction *ngIf="endMarker.lat" [origin]="startMarker" [destination]="endMarker" [visible]="visible"></agm-direction>
                <agm-marker *ngFor="let m of markers; let i = index" [markerDraggable]="true" [latitude]="m.lat" [longitude]="m.lng"></agm-marker>
              </agm-map>

            </div>

            <div class="form-group">
              <button class="btn btn-danger btn-lg" (click)="resetMap()">Reset Map</button>
            </div>

            <div class="form-group">
              <button id="showMapButton" class="btn btn-success btn-lg" (click)="showMap = true; agmMap.triggerResize()">Show Map</button>
            </div>

            <p>
              <span class="red-text">*</span> - mandatory fields</p>

          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="mx-auto">
            <button type="submit" class="btn btn-success btn-lg" data-dismiss="modal" [disabled]="startTime.value == null || !visible"
              (click)="ok(startTime.value)">Ok</button>
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" (click)="cancel(f)">Cancel</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
