<app-notification></app-notification>
<app-confirm-modal [header]="deleteHeader" [text]="deleteText" (delete)="delete()"></app-confirm-modal>
<app-location-modal [destinationRequest]="destinationRequest" (resetLocation)="resetLocation()"></app-location-modal>
<app-set-vehicle-modal #setVehicleModal [destination]="destination" [vehicle]="vehicle" (setVehicle)="setVehicle($event)"></app-set-vehicle-modal>
<app-set-drivers-modal #setDriversModal [destination]="destination" [drivers]="drivers" (setDrivers)="setDrivers($event)"></app-set-drivers-modal>
<div class="panel panel-default" id="entity-management">
  <div class="panel-heading">
    <h2>Destination Details</h2>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Vehicle</th>
            <th>Drivers</th>
            <th *ngIf="destinationOpen" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ destination.startDate | date:'short' }}</td>
            <td>{{ destination.endDate | date:'short' }}</td>
            <td>{{ vehicleInfo }}</td>
            <td>{{ driversInfo }}</td>
            <td *ngIf="destinationOpen" class="btn-group-small text-center">
              <button [disabled]="!destination.endDate" class="btn btn-lg btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal"
                data-target="#setVehicleModal" (click)="loadDataForSetting(true)" title="Set Vehicle">
                <i class="fa fa-bus" aria-hidden="true"></i>
              </button>
              <button [disabled]="!destination.endDate" class="btn btn-lg btn-success" data-toggle="modal" data-target="#setDriversModal"
                (click)="loadDataForSetting(false)" title="Set Drivers">
                <i class="fa fa-users" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <br>

    <agm-map *ngIf="visible" #agmMap id="agmMap" class="destination-map" [zoom]="6" [latitude]="(destination.startLocation.lat + destination.endLocation.lat) / 2"
      [longitude]="(destination.startLocation.lng + destination.endLocation.lng) / 2">
      <direction #directionDirective [origin]="destination.startLocation" [destination]="destination.endLocation" [waypoints]="waypoints"
        (calculate)="calculateDistancesAndTimes($event)"></direction>
    </agm-map>

    <br>

    <div class="container-fluid destination-projected">
      <h3>Projected Destination Result</h3>

      <br>

      <div class="row">

        <div class="col-lg-3">
          <p>Number of Km's:
            <span class="red-text">{{ destination.numberOfKms | number : '1.2-2' }}</span>
          </p>
        </div>

        <div class="col-lg-3">
          <p>Fuel Expenses (per 100km):
            <span class="red-text">{{ destination.fuelExpenses | number : '1.2-2' }}</span>
          </p>
        </div>

        <div class="col-lg-3">
          <p>Drivers Pay (each per 100km):
            <span class="red-text">{{ destination.driversPay | number : '1.2-2' }}</span>
          </p>
        </div>

        <div class="col-lg-3">
          <p>Request price (per km):
            <span class="red-text">{{ destination.requestPerKmPrice | number : '1.2-2' }}</span>
          </p>
        </div>
        
      </div>

      <div class="row">

        <div class="col-lg-4">
          <p>Tickets income:
            <span class="red-text">{{ ticketsIncome | number : '1.2-2' }}</span>
          </p>
        </div>

        <div class="col-lg-4">
          <p>Total Cost:
            <span class="red-text">{{ totalCost | number : '1.2-2' }}</span>
          </p>
        </div>

        <div class="col-lg-4">
          <p>Total:
            <span class="red-text">{{ total | number : '1.2-2' }}</span>
          </p>
        </div>

      </div>
    </div>

    <div class="container-fluid destination-projected">
      <h3>Current Requests</h3>

      <br>

      <div class="row">

        <div class="table-responsive custom-padding-15">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Order</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Distance (km)</th>
                <th>Location</th>
                <th>Price</th>
                <th>Discount (%)</th>
                <th>Status</th>
                <th>Submission Date</th>
                <th>Confirmation Date</th>
                <th *ngIf="destinationOpen" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of destinationRequests">
                <td>{{ request.destinationOrder }}</td>
                <td>{{ request.startDate | date:'short' }}</td>
                <td>{{ request.endDate | date:'short' }}</td>
                <td>{{ request.distance | number : '1.2-2' }}</td>
                <td class="text-center">
                  <button class="btn btn-lg btn-info" (click)="setLocation(request)" data-backdrop="static" data-keyboard="false" data-toggle="modal"
                    data-target="#locationModal" title="Location">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </button>
                </td>
                <td>{{ request.price | number : '1.2-2' }}</td>
                <td>{{ request.discount }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.submissionDate | date:'short' }}</td>
                <td>{{ request.confirmationRequestDate | date:'short' }}</td>
                <td *ngIf="destinationOpen" class="btn-group-small text-center">
                  <button class="btn btn-lg btn-danger" (click)="setDeleteId(request, true)" data-toggle="modal" data-target="#confirmModal"
                    title="Remove">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                  <button [hidden]="request._id != longestRouteReqId" class="btn btn-lg btn-warning" title="Longest route">
                    <i class="fa fa-exclamation" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <br>

          <div *ngIf="destinationOpen" class="text-center">
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" [disabled]="destinationRequests.length == 0" (click)="calculate()">Calculate</button>
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" [disabled]="destinationRequests.length == 0" (click)="save()">Save</button>
            <button type="button" class="btn btn-info btn-lg" (click)="reloadData()">Reload</button>
          </div>

        </div>

      </div>
    </div>


    <div *ngIf="destinationOpen" class="container-fluid destination-projected">
      <h3>Open Requests</h3>

      <br>

      <div class="container-fluid">
        <p *ngIf="openRequests.length == 0">Nothing to show</p>
        <div class="row">
          <div *ngFor="let request of openRequests" class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="destination-content">
              <agm-map class="destinations-map" [latitude]="20" [longitude]="20">
                <direction [origin]="request.startLocation" [destination]="request.endLocation"></direction>
              </agm-map>
              <div class="destination-content-text">
                <p>Submission Date: {{ request.submissionDate | date:'short' }}</p>
                <button class="btn btn-lg btn-success" [disabled]="!canAddRequest(request.userId)" (click)="addToDestination(request)" data-backdrop="static"
                  data-keyboard="false" data-toggle="modal" data-target="#myModal" title="Add">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <button class="btn btn-lg btn-danger" (click)="setDeleteId(request, false)" data-toggle="modal" data-target="#confirmModal"
                  title="Reject">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
