<app-notification></app-notification>
<div class="panel panel-default" id="entity-management">
  <div class="panel-heading">
    <h2>Update Info</h2>
  </div>

  <div class="panel-body">
    <form #f="ngForm" name="form">
      <div class="form-group">
        <label for="firstname"><span class="red-text">*</span>Firstname</label>
        <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstname" required>
      </div>

      <div class="form-group">
        <label for="lastname"><span class="red-text">*</span>Lastname</label>
        <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastname" required>
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone">
      </div>

      <div class="form-group">
        <label for="email"><span class="red-text">*</span>Email</label>
        <input type="email" class="form-control" [(ngModel)]="user.email" name="email" required email>
      </div>            

      <div class="form-group">
        <label for="password"><span class="red-text">*</span>Password</label>
        <input type="password" class="form-control" [(ngModel)]="user.password" name="password" required>
      </div>

      <p><span class="red-text">*</span> - mandatory fields</p>

      <div class="panel-footer text-center background-white">
        <button type="submit" class="btn btn-success btn-lg" data-dismiss="modal" [disabled]="!f.valid" (click)="ok()">Ok</button>
      </div>

    </form>
  </div>
</div>
