<div class="nav-side-menu">
  <div class="brand">Transportero</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a routerLink="/">
          <i class="fa fa-dashboard fa-lg"></i> Dashboard
        </a>
      </li>
      <li>
        <a routerLink="client/dashboard/managers">
          <i class="fa fa-users fa-lg"></i> Managers
        </a>
      </li>
      <li>
        <a routerLink="client/dashboard/drivers">
          <i class="fa fa-users fa-lg"></i> Drivers
        </a>
      </li>
      <!-- if -->
      <li>
        <a routerLink="/dashboard/vehicles">
          <i class="fa fa-bus fa-lg"></i> Vehicles
        </a>
      </li>
      <li>
        <a routerLink="manager/dashboard/vehicleExpenses">
          <i class="fa fa-money fa-lg"></i> Expenses
        </a>
      </li>
      <li>
        <a routerLink="manager/dashboard/users">
          <i class="fa fa-users fa-lg"></i> Users
        </a>
      </li>
      <li>
        <a routerLink="manager/dashboard/destinations">
          <i class="fa fa-location-arrow fa-lg"></i> Destinations
        </a>
      </li>
      <!-- if -->
      <li>
        <a routerLink="/dashboard/updateInfo">
          <i class="fa fa-user fa-lg"></i> Update Info
        </a>
      </li>
      <!-- if -->
      <li>
        <a routerLink="/dashboard/signOut neki">
          <i class="fa fa-sign-out fa-lg"></i> Logout
        </a>
      </li>
    </ul>
  </div>
</div>
<div id="main">
  <router-outlet></router-outlet>
</div>
