<app-notification></app-notification>
<app-vehicle-modal [vehicle]="vehicle" [action]="action" (modalAddUpdate)="modalAddUpdate()" (resetForm)="resetForm()"></app-vehicle-modal>
<app-vehicle-expense-modal [expense]="expense" [action]="action" (modalAddUpdate)="modalAddUpdate()" (resetForm)="resetForm()"></app-vehicle-expense-modal>
<app-confirm-modal [header]="deleteHeader" [text]="deleteText" (delete)="delete()"></app-confirm-modal>
<div class="panel panel-default" id="entity-management">
  <div class="panel-heading">
    <h2>Vehicles
      <button *ngIf="client" class="btn btn-primary btn-lg" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#vehicleModal" (click)="setAction(true)">Add</button>
    </h2>
  </div>

  <div class="panel-body">

    <div class="vehicle-container">
            <br>

            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Model</th>
                    <th>License plate</th>
                    <th>License expire date</th>
                    <th>Number of seats</th>
                    <th>Production year</th>
                    <th>Km passed</th>
                    <th *ngIf="client" class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Anna</td>
                    <td>Pitt</td>
                    <td>35</td>
                    <td>New York</td>
                    <td>USA</td>
                    <td>USA</td>
                    <td>USA</td>
                    <td *ngIf="client" class="btn-group-small text-center">
                      <button class="btn btn-lg btn-info " (click)="setAction(false)" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#vehicleModal" title="Edit">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-lg btn-danger " (click)="setDeleteId()" data-toggle="modal" data-target="#confirmModal" title="Delete">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        
            <br>
        
            <h2>Expenses
                    <button *ngIf="!client" class="btn btn-primary btn-lg" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#expenseModal" (click)="setAction(true)">Add</button>
                  </h2>
        
            <br>
        
            <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead class="thead-dark">
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Amount</th>
                          <th>Date</th>
                          <th *ngIf="!client" class="text-center">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Anna</td>
                          <td>Pitt</td>
                          <td>35</td>
                          <td *ngIf="!client" class="btn-group-small text-center">
                            <button class="btn btn-lg btn-info " (click)="setAction(false)" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#expenseModal" title="Edit">
                              <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-lg btn-danger " (click)="setDeleteId()" data-toggle="modal" data-target="#confirmModal" title="Delete">
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <br>
    </div>

    <!-- second vehicle -->

    <div class="vehicle-container">
            <br>

            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Model</th>
                    <th>License plate</th>
                    <th>License expire date</th>
                    <th>Number of seats</th>
                    <th>Production year</th>
                    <th>Km passed</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Anna</td>
                    <td>Pitt</td>
                    <td>35</td>
                    <td>New York</td>
                    <td>USA</td>
                    <td>USA</td>
                    <td>USA</td>
                    <td class="btn-group-small text-center">
                      <button class="btn btn-lg btn-info " (click)="setAction(false)" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#vehicleModal" title="Edit">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </button>
                      <button class="btn btn-lg btn-danger " (click)="setDeleteId()" data-toggle="modal" data-target="#confirmModal" title="Delete">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        
            <br>
        
            <h2>Expenses
                    <button *ngIf="!client" class="btn btn-primary btn-lg" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#expenseModal" (click)="setAction(true)">Add</button>
                  </h2>
        
            <br>
        
            <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead class="thead-dark">
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Amount</th>
                          <th>Date</th>
                          <th *ngIf="!client" class="text-center">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Anna</td>
                          <td>Pitt</td>
                          <td>35</td>
                          <td *ngIf="!client" class="btn-group-small text-center">
                            <button class="btn btn-lg btn-info " (click)="setAction(false)" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#expenseModal" title="Edit">
                              <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-lg btn-danger " (click)="setDeleteId()" data-toggle="modal" data-target="#confirmModal" title="Delete">
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

            <br>
    </div>

  </div>
</div>
