<div class="container">
  <!-- The Modal -->
  <div class="modal fade defaultModal" id="expenseModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{ action }} Expense</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="cancel(f)">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form #f="ngForm" name="form">
            <div class="form-group">
              <label for="name">
                <span class="red-text">*</span>Name</label>
              <input type="text" class="form-control" [(ngModel)]="expense.name" name="name" required autofocus>
            </div>

            <div class="form-group">
              <label for="amount">
                <span class="red-text">*</span>Amount</label>
              <input type="number" class="form-control" [(ngModel)]="expense.amount" name="amount" required>
            </div>

            <div class="form-group">
              <label for="date">Date</label>
              <input type="date" class="form-control" [(ngModel)]="expense.date" name="date" required useValueAsDate>
            </div>

            <p>
              <span class="red-text">*</span> - mandatory fields</p>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="mx-auto">
            <button type="submit" class="btn btn-success btn-lg" data-dismiss="modal" [disabled]="!f.valid" (click)="ok()">Ok</button>
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" (click)="cancel(f)">Cancel</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

