<div class="container">
  <!-- The Modal -->
  <div class="modal fade defaultModal" id="locationModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Request Location</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="cancel(f)">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form #f="ngForm" name="form">

            <div class="form-group">
              <agm-map class="destination-map" [latitude]="lat" [longitude]="lng">
                  <agm-direction *ngIf="showMap" [origin]="startLocation" [destination]="endLocation"></agm-direction>
              </agm-map>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>

</div>
